<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="main">
<main>
    <h1 th:text="${title}"></h1>

    <form class="form-search-result form-playlist-insert">
        <table class="table table-secondary" id="table-playlist-insert" style="width: 700px">
            <tbody>
            <tr>
                <th scope="col">TITLE</th>
                <th th:text="${board.title}"></th>
            </tr>
            <tr>
                <th scope="col">DATE</th>
                <th th:text="${#temporals.format(board.createdAt, 'yyyy년 MM월 dd일')}"></th>
            </tr>
            <tr>
                <th scope="col">BY</th>
                <th th:text="${board.nm}"></th>
            </tr>
            <tr>
                <th scope="col">GENRE</th>
                <th th:text="${board.genre}">
                </th>
            </tr>

            <th:block th:each="p : ${board.playlists}">
                <tr>
                    <th colspan="2" class="th-video">
                        <object type="text/html" id="object-youtube" width="700px" height="400px" data=""></object>
                        <script th:inline="javascript">
                            const videoId = [[${p.videoId}]];
                            const youtubeUrl = `https://www.youtube.com/embed/`;
                            $('#object-youtube').attr(`data`, youtubeUrl + videoId);
                        </script>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <textarea class="form-control textarea-video-description" th:text="${p.description}" disabled></textarea>
                    </th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>
    <button type="button" class="btn btn-danger" onclick="delBoard()">삭제</button>
</main>

<script th:inline="javascript">
    const code = [[${param.code}]].toString();
    const iboard = [[${board.iboard}]];

    function delBoard() {
        if (confirm(`삭제된 글은 복구할 수 없습니다. 정말로 삭제하시겠습니까?`)) {
            $.ajax({
                type: `delete`,
                url: `/board/` + iboard,
                success: [
                    function (result) {
                        if (result === 1) {
                            alert(`게시글이 삭제되었습니다.`);
                            location.href = `/board?code=` + code;
                        } else {
                            alert(`게시글 삭제에 실패했습니다. 잠시 후 다시 시도해주세요.`);
                        }
                    }
                ]
            })
        } else {
            alert(`게시글 삭제가 취소되었습니다.`);
        }
    }
</script>
</html>