<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
      layout:fragment="main">
<main>
    <h1 th:text="${title}"></h1>

    <form class="form-search-result form-playlist-insert">
        <table class="table table-secondary" id="table-playlist-insert" style="width: 700px">
            <tbody>
            <tr>
                <th scope="col" class="th-write-table">TITLE</th>
                <!-- 제목 -->
                <th th:text="${board.title}"></th>
            </tr>
            <tr>
                <th scope="col" class="th-write-table">GENRE</th>
                <th th:text="${board.genre}">
                </th>
            </tr>

            <th:block th:each="p : ${board.playlists}">
                <tr>
                    <th colspan="2" class="th-video">
                        <object type="text/html" id="object-youtube" width="700px" height="400px" data=""></object>
                        <script th:inline="javascript">
                            const videoId = [[${p.videoId}]];
                            const youtubeUrl = `https://www.youtube.com/embed/`;
                            $('#object-youtube').attr(`data`, youtubeUrl + videoId);
                        </script>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <textarea class="form-control textarea-video-description" th:text="${p.description}"></textarea>
                    </th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>
</main>
</html>