<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="nav">
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">유튜브 플레이리스트 추천 프로젝트</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/board(category = 1)}">공지 게시판
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board(category = 2)}">플레이리스트 추천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board(category = 3)}">자유 게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">유튜브 검색(API 테스트용)</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Pricing</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">About</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Separated link</a>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
            <form class="d-flex">
                <img onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=cb038f5f9a3ebddca7cc97a4d8f6d398&redirect_uri=http://localhost:8080/accountbook/kakao-login&response_type=code'" th:src="@{/img/img-btn-kakao.png}" style="height: 45px; margin-right: 10px">
                <button type="button" class="btn btn-dark" th:onclick="|location.href='@{/sign-in}'|" style="height: 45px; padding: 0 10px 0 10px; font-size: 14px; font-weight: bold">이메일 회원가입/로그인</button>
<!--                <input class="form-control me-sm-2" type="search" placeholder="Search">-->
<!--                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
            </form>
        </div>
    </div>
</nav>

<div class="banner">
    <span>banner div</span>
</div>
</html>